<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Каталог</title>
    <div th:replace="~{head}"></div>
</head>

<body>
<div class="container">
    <div th:replace="~{header :: navigation(Market)}" />

    <hr>
    <div class="content">
        <h1 class="storeName">Список товаров:</h1>
        <br>
        <div class="textOnCenter">
            <table class="table">
                <thead>
                <tr>
                    <td>ID Товара</td>
                    <td>Название</td>
                    <td>Цена</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.title}" class="textInLongView"></td>
                    <td th:text="${product.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>
<div th:replace="~{footer}"></div>
</body>

</html>